@use 'var';
@use 'mixin';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;


  &__title {

    @include mixin.title(24px);
    text-align: center;

    @media (min-width: var.$mediaMinWidth) {
      
      @include mixin.title();
    }
  }
}