@use 'var';
@use 'mixin';
@use 'header';
@use 'hero';
@use 'section';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var.$mainBackgroundColor;
}

.container {
  @media (min-width: var.$mediaMinWidth) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}